NEXT_PUBLIC_NETWORK=studionet
NEXT_PUBLIC_CONTRACT_ADDRESS=0x2Fa5A212b1ECF57D3D8c0590902319b3E5972ccc
NEXT_PUBLIC_EXPLORER_BASE=https://explorer-studio.genlayer.com/address/
NEXT_PUBLIC_TX_EXPLORER_BASE=https://explorer-studio.genlayer.com/tx/
